@page
@model MarriageAgencyWeb.Pages.RequestsAndFilters.Filter.ClientFilter4Model
@{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Client[0].FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client[0].Hobbies)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Client)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hobbies)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}